@{
    ViewData["Title"] = "Home Page";
}

@model AuthenticationModel


<h2>Вход в приложение</h2>
<form asp-controller="Authentication" asp-action="AuthenticateUser" method="post">
    <p>
        <label>Name</label><br />
        <input asp-for="UserName" type="text" class="form-control" id="Name" required>
    </p>
    <input type="submit" value="Confirm" />
</form>
